[submodule "(TF - 15% ... + 5% + 5% )-- GoAhead Project Final Presentation; configured lastly for EC2 AWS + endpoints (WIP)"]
	path = "(TF - 15% ... + 5% + 5% )-- GoAhead Project Final Presentation; configured lastly for EC2 AWS + endpoints (WIP)"
	url = https://github.com/aleeeec02/goahead-ultimate
