[submodule "(TF - 15% ... + 5% + 5% )-- App GoAhead Project React + JavaScript + EC2 + WIP endpoints with postresql + other endpoints (WIP)"]
    path = (TF - 15% ... + 5% + 5% )-- App GoAhead Project React + JavaScript + EC2 + WIP endpoints with postresql + other endpoints (WIP)
    url = https://github.com/aleeeec02/goahead-ultimate

